{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="alert">
  <div class="alert-description">
    <h1 class="alert-description__message" {{#if success}}style='color: #008a10' {{/if}}>{{message}}</h1>
    <p class="alert-description__info">{{info}}</p>
  </div>
  <div class="alert-list">
    <a class="alert-list__link" href="/{{linkBack}}">Back to {{linkBackText}}</a>
    {{#if linkList}}<a class="alert-list__link" href="/{{linkList}}">Go to {{linkListText}}</a>{{/if}}
  </div>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}