{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>

  <section class="products">
    <h1 class="products__title">Products list</h1>
    {{#with products}}
    {{#if isEmpty}}
    <mark>Empty products list</mark>
    {{else}}
    <div class="products__list">
      {{#each list}}
      <div class="product">
        <h2 class="product__header">{{name}}</h2>
        <p class="product__description">{{description}}</p>
        <p class="product__id">ID: {{id}}</p>
        <div class="product-footer">
          <span class="product-footer__price">{{price}}</span>
          <a class="product-footer__edit" href="/product-edit?id={{id}}">Redact</a>
        </div>
      </div> {{/each}}
    </div>
    {{/if}}
    {{/with}}
  </section>

</main>
{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}