<main class="main">
  <div class="main__content">
    <div class="header">
      <h1 class="title title--big">Моя бібліотека</h1>
      <div class="header__nav">
        <a href="/spotify-search"><img src="/svg/search.svg"></a>
        <a href="/spotify-choose"><img src="/svg/add-button-nav.svg"></a>
      </div>
    </div>
    {{#if data.playlist}}
    <ul class="playlists">
      {{#each data.playlist}}
      <li class="playlist-item">
        <img src="{{image}}" alt="{{name}}">
        <div class="playlist__content">
          <strong class="playlist__name">{{name}}</strong>
          <p class="playlist__amount">{{tracks.length}} пісень</p>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <div class="title title--big">Плейлистів ще нема</div>
    {{/if}}
  </div>
</main>