<div class="product">
    <h2 class="product__header">{{name}}</h2>
    <p class="product__description">{{description}}</p>
    <p class="product__id">{{id}}</p>
    <div class="product-footer">
        <span class="product-footer__price">{{price}}</span>
        <a class="product-footer__edit" href="/product-edit?id={{id}}">{{'Redact'}}</a>
    </div>
</div>